<h3>Description</h3>

<div class="icons-prod-main">
 
   <div class="icon-cls">
    <img class="icp-1" src="https://cdn.shopify.com/s/files/1/0240/2942/9840/files/Wrinkle_Reduction.svg?v=1733371857" alt="">
     <h5>benefits</h5>
    </div>
  
 <div class="icon-cls">
    <img class="icp-1" src="https://cdn.shopify.com/s/files/1/0240/2942/9840/files/Wrinkle_Reduction.svg?v=1733371857" alt="">
     <h5>benefits</h5>
</div>

 <div class="icon-cls">
    <img class="icp-1" src="https://cdn.shopify.com/s/files/1/0240/2942/9840/files/Wrinkle_Reduction.svg?v=1733371857" alt="">
     <h5>benefits</h5>
</div>

</div>

<div class="icons-prod-main2">
 
   <div class="icon-cls">
    <img class="icp-1" src="https://cdn.shopify.com/s/files/1/0240/2942/9840/files/Wrinkle_Reduction.svg?v=1733371857" alt="">
     <h5>benefits</h5>
    </div>
  
 <div class="icon-cls">
    <img class="icp-1" src="https://cdn.shopify.com/s/files/1/0240/2942/9840/files/Wrinkle_Reduction.svg?v=1733371857" alt="">
     <h5>benefits</h5>
</div>

 <div class="icon-cls">
    <img class="icp-1" src="https://cdn.shopify.com/s/files/1/0240/2942/9840/files/Wrinkle_Reduction.svg?v=1733371857" alt="">
     <h5>benefits</h5>
</div>

</div>