<style>
  .coll-head{
    margin:7rem auto;
  }
  .background{
    background-color:#FFEEDB;
  }
  .product-showcase {
    display: flex;
    gap: 20px;
    font-weight:600;
    padding-top: 2rem;
  }

  .coll-head h2 {
    color: #80079E;
    font-family: "Bricolage Grotesque", Sans-serif;
    font-size: 30px;
    font-weight: 600;
  }

  .main-image {
    aspect-ratio: 1.02;
    width: 100%;
    align-self: stretch;
    height: auto;
  }

  .product-showcase a {
    text-decoration: none;
    color: inherit;
  }

  .product-list {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    gap: 20px;
  }

  .product-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-weight: 400;
  }

  .product-image {
    min-width: 100%;
    object-fit: cover;
    border-radius: 7px;
    height: auto;
    align-self: stretch;
  }
.product-item video{
  width:100%;
}
  .product-details {
    display: flex;
    padding-top: 8px;
    width: 100%;
    gap: 1.2rem;
    flex-direction: column;
  }

  .product-name {
    color: #000;
    font-size: 20px;
    line-height: 1;
    margin: 0px;
  }

  .product-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .product-price {
    color: #000;
    font-size: 14px;
    line-height: 1;
    align-self: stretch;
    margin: auto 0;
  }

  .col_grid {
    position: relative;
  }

  #exploree {
    background-color: #226DFF;
    border-radius: 30px;
    padding: 1rem 2rem;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    border: inherit;
    padding: 12px 30px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  @media (max-width: 991px) {
    .main-image,
    .product-list,
    .product-item,
    .product-image,
    .product-details,
    .product-name,
    .product-info {
      max-width: 100%;
    }

    .product-showcase {
      flex-direction: column;
    }

    .coll-head h2 {
      font-size: 26px;
    }
  }

  @media (max-width: 1200px) {
    .product-showcase {
      flex-direction: column;
    }
  }
  @media (max-width: 600px) {
  .coll-head {
    }
  }
</style>

<div class="background scroll-trigger animate--slide-in"">
  <div class="coll-head page-width">
  <h2 class="scroll-trigger animate--slide-in">Explore Our Collection</h2>
  <section class="product-showcase">
    <a href="{{ section.settings.collection_url }}">
      <div class="col_grid">
        <!-- Updated Video --   -->
          <video class="main-image" autoplay muted loop playsinline>
         <!-- <source src="https://cdn.shopify.com/videos/c/o/v/af8fd0ff28374083b6af933ee5e612db.mp4" type="video/mp4"> -->
                    <source src="https://cdn.shopify.com/videos/c/o/v/a45c491f32be4745ae4338a2a6656636.mp4>" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
      <!--  <img class="main-image"  src="https://cdn.shopify.com/s/files/1/0640/4830/0241/files/gummies.gif?v=1739345543" alt="GIF Image"> -->
      </div>
    </a>
    <div class="product-list">
      <article class="product-item fade-element fade-down">
        <a href="{{ section.settings.image1_url }}">
         <video class="product-img" autoplay muted loop playsinline>
          <source src="https://cdn.shopify.com/videos/c/o/v/4999710391d6426887f734932b3e5aa5.mp4"   type="video/mp4">
          Your browser does not support the video tag.
        </video>
        </a>
      </article>

      <article class="product-item fade-up fade-element fade-up-delay">
        <a href="{{ section.settings.image1_url1 }}">
        <video class="product-img" autoplay muted loop playsinline>
          <source src="https://cdn.shopify.com/videos/c/o/v/da03b08ce8ab416284516c7632f38c91.mp4"   type="video/mp4">
          Your browser does not support the video tag.
        </video>
        </a>
      </article>
    </div>
  </section>
</div>
</div>

{% schema %}
{
  "name": "collage-grid",
  "settings": [
    {
      "type": "image_picker",
      "id": "collection_img",
      "label": "Collection Image"
    },
    {
      "type": "url",
      "id": "collection_url",
      "label": "Collection URL"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Collage Image 1"
    },
    {
      "type": "url",
      "id": "image1_url",
      "label": "URL for Image 1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Collage Image 2"
    },
    {
      "type": "url",
      "id": "image1_url1",
      "label": "URL for Image 2"
    }
  ],
  "presets": [
    {
      "name": "collage-grid",
      "category": "Collections"
    }
  ]
}
{% endschema %}
