<div class="custom_collection-main">
  <img src="{{ section.settings.collection }}"/>
  {% for collection in collections %}
    {{- collection.title | link_to: collection.url }}
  {% endfor %}

</div>

{% schema %}
    {
        "name":"collection list",
        "settings": [
            {
                "type":"text",
                "id":"heading",
                "label":"heading",
            },
            {
                "type":"collection",
                "id":"collection",
                "label":"colection",
            }
        ],
        "presets": [
            {
            "name": "collection slide",
            "category": "collections"
        },
        ]
    }
{% endschema %}